<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umaCidade : ${listaCidades}">
                        <td th:text="${umaCidade.id}"></td>
                        <td th:text="${umaCidade.nome}"></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>