<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/clientes/(form)}" 
                method="POST" th:object="${cliente}"> 

                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="txtnome">Nome:</label>
                    <input type="text" th:field="*{nome}"
                        class="form-control" id="txtnome">
                    <p th:if="${#fields.hasErrors('nome')}"
                        th:errors="*{nome}"
                        class="alert alert-danger"></p>
                </div>

                <div class="form-group">
                    <label>Cidade:</label>
                    <select class="form-select">
                        <option value="1">Joinville</option>
                        <option value="2">Jaraguá do Sul</option>
                        <option value="3">São Francisco</option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label for="txtendereco">Endereço:</label>
                    <input type="text" th:field="*{endereco}"
                        class="form-control" id="txtendereco">
                </div>
                <div class="form-group">
                    <label for="txtsexo">Sexo:</label>
                    <input type="text" th:field="*{sexo}"
                        class="form-control" id="txtsexo">
                    <p th:if="${#fields.hasErrors('sexo')}"
                        th:errors="*{sexo}"
                        class="alert alert-danger"></p>
                </div>
                <div class="form-group">
                    <label for="txtDataNascimento">Data Nascimento</label>
                    <input type="date" th:field="*{dataNascimento}"
                        class="form-control" id="txtDataNascimento">
                </div>

                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>