<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/vendas/(form)}" 
                method="POST" th:object="${venda}"> 

                <input type="hidden" th:field="*{id}">
                
                <div class="form-group">
                    <label for="txtData">Data da Venda</label>
                    <input type="date" th:field="*{data}"
                        class="form-control" id="txtData">
                </div>

                <div class="form-group">
                    <label>Cliente:</label>
                    <select class="form-select" th:field="*{comprador}">
                        <option th:each="umCliente : ${listaClientes}"
                        th:text="${umCliente.nome}"
                        th:value="${umCliente.id}"></option>
                    </select>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Itens de Venda Vinculados
                        </h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="umItem, stat : *{colItens}">
                                    <td th:text="${umItem.produto?.nome}"></td>
                                    <input type="hidden"
                                        th:field="*{colItens[__${stat.index}__].produto?.id}">
                                    <td th:text="${umItem.quantidade}"></td>
                                    <input type="hidden"
                                        th:field="*{colItens[__${stat.index}__].quantidade}">
                                    <td th:text="${umItem.valorVenda}"></td>
                                    <input type="hidden"
                                        th:field="*{colItens[__${stat.index}__].valorVenda}">
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Novo Item de Venda
                        </h5>
                        <div class="form-group">
                            <label for="txtQuantidade">Quantidade:</label>
                            <input type="number" id="txtQuantidade"
                                class="form-control"
                                th:field="${novoItem.quantidade}">
                        </div>
                        <div class="form-group">
                            <label for="txtValorVenda">Valor da Venda:</label>
                            <input type="number" id="txtValorVenda"
                                class="form-control"
                                th:field="${novoItem.valorVenda}">
                        </div>
                        <button type="submit" name="incitem"
                            class="btn btn-primary">Adicionar Item</button>
                    </div>
                </div>
                <button type="submit" name="save"
                class="btn btn-primary">Enviar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>